@font-face {
  font-family: MyFont;
  src: url("./fonts/roboto-regular.ttf");
}

div.linkBox {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

div.linkBox a {
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

div.linkBox a:link {
  color: white;
}

div.linkBox a:visited {
  color: #dfdfdf;
}

div.linkBox a:hover {
  color: #b3b3b3;
}

div.linkBox a:active {
  color: #979797;
}

div.linkBox:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Myfont, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #44577a;
  color: white;
}

/*==================================
Default nav + mobile
==================================*/
nav:not(.local) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(34, 34, 34, 0.39);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  padding: 1rem;
  margin: 0 2rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

nav ul li a:hover {
  color: #d4d4d4;
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*
section{
	grid-area: localNav;
	background-color: $colorSideNav;
	nav.local{
		background-color: rgba($color: #000000, $alpha: 0.0);
		position: sticky;
		top: 0;
		ul{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			li{
				min-width: 125px;
				text-align: center;
				margin: 0;
				a{
					text-align: center;
					font-size: 1.5rem;
				}
			}

			li:hover{
				background-color: rgba(145, 145, 145, 0.39);
			}
		}
	}
}*/
section.local {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: localNav;
  background-color: rgba(145, 145, 145, 0.39);
}

section.local nav.local {
  background-color: rgba(0, 0, 0, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.local nav.local a {
  text-align: center;
  min-width: 125px;
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

section.local nav.local a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 4px 3px 0px rgba(32, 32, 32, 0.507);
}

/*==================================
nav screen size
==================================*/
@media screen and (min-width: 600px) {
  nav:not(.local) ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav.local ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  nav.local ul li {
    padding: 1rem;
    width: 100%;
  }
  section.local nav.local {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

/*==================================
Footer
==================================*/
footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: calc(100% - 2rem);
  background-color: rgba(34, 34, 34, 0.39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

footer p {
  color: white;
  margin: 0;
}

footer a {
  color: white;
}

/*==================================
main
==================================*/
main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  text-align: center;
}

/*==================================
Header
==================================*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  text-align: center;
}

header > h1 {
  font-size: 2.3em;
}

/*==================================
Home page styling
==================================*/
.homePage .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header'
 'nav nav nav'
 'main main main'
 'footer footer footer';
  -ms-grid-rows: auto auto auto 100px;
      grid-template-rows: auto auto auto 100px;
}

.homePage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage main section {
  margin-top: 25px;
  width: 75%;
}

.homePage main section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.315);
}

.homePage main section h3 {
  font-size: 2rem;
  text-shadow: 5px 6px 4px rgba(46, 54, 56, 0.3);
}

.homePage main section p + p {
  margin-top: 2.2ex;
}

@media screen and (min-width: 600px) {
  .homePage main section {
    width: 50%;
  }
}

/*==================================
Game and console page
==================================*/
.gamePage .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header'
 'nav'
 'localNav'
 'main'
 'footer';
  -ms-grid-rows: auto auto auto auto 100px;
      grid-template-rows: auto auto auto auto 100px;
}

.gamePage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamePage main hr {
  width: 90%;
}

.gamePage main article {
  -webkit-box-shadow: 19px 41px 68px -30px rgba(0, 0, 0, 0.45);
          box-shadow: 19px 41px 68px -30px rgba(0, 0, 0, 0.45);
  padding: 2rem;
  border-radius: 1%;
}

.gamePage main article img {
  width: 50%;
  border-radius: 5%;
}

.gamePage main article h2 {
  font-size: 2rem;
}

.gamePage main article p {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .gamePage .grid-container {
        grid-template-areas: 'header header header'
 'nav nav nav'
 'localNav main main'
 'footer footer footer';
    -ms-grid-columns: 250px auto auto;
        grid-template-columns: 250px auto auto;
    -ms-grid-rows: auto auto auto 100px;
        grid-template-rows: auto auto auto 100px;
  }
  .gamePage .grid-container main hr {
    width: 75%;
  }
  .gamePage .grid-container main article {
    width: calc(90% - 4rem);
    margin: 1rem;
  }
  .gamePage .grid-container main article img {
    width: 70%;
  }
}

/* Game backgrounds */
#mario {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 28, 28, 0.596)), to(rgba(48, 241, 57, 0.4)));
  background: linear-gradient(90deg, rgba(250, 28, 28, 0.596), rgba(48, 241, 57, 0.4));
}

#fortnite {
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 51, 187, 0.4)), to(rgba(10, 175, 197, 0.4)));
  background: linear-gradient(90deg, rgba(2, 51, 187, 0.4), rgba(10, 175, 197, 0.4));
}

#pong {
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 31, 31, 0.4)), to(rgba(151, 151, 151, 0.4)));
  background: linear-gradient(90deg, rgba(31, 31, 31, 0.4), rgba(151, 151, 151, 0.4));
}

#zelda {
  background: linear-gradient(60deg, rgba(10, 158, 5, 0.4), rgba(5, 142, 177, 0.562));
}

#beatSaber {
  background: -webkit-gradient(linear, left top, right top, from(rgba(17, 137, 236, 0.4)), to(rgba(241, 17, 17, 0.562)));
  background: linear-gradient(90deg, rgba(17, 137, 236, 0.4), rgba(241, 17, 17, 0.562));
}

#pokemon {
  background: -webkit-gradient(linear, left top, right top, from(rgba(36, 196, 63, 0.644)), to(rgba(221, 17, 221, 0.678)));
  background: linear-gradient(90deg, rgba(36, 196, 63, 0.644), rgba(221, 17, 221, 0.678));
}

/* Console backgrounds */
#nes {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.479)), to(rgba(241, 21, 21, 0.623)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.479), rgba(241, 21, 21, 0.623));
}

#xbox360 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(3, 243, 3, 0.685)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(90deg, rgba(3, 243, 3, 0.685), rgba(255, 255, 255, 0.4));
}

#xbox {
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 100, 100, 0.4)), to(rgba(11, 131, 37, 0.4)));
  background: linear-gradient(90deg, rgba(100, 100, 100, 0.4), rgba(11, 131, 37, 0.4));
}

#ps3 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(49, 49, 49, 0.4)), to(rgba(13, 122, 224, 0.4)));
  background: linear-gradient(90deg, rgba(49, 49, 49, 0.4), rgba(13, 122, 224, 0.4));
}

/*==================================
Timeline page
==================================*/
body.timeline .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header'
 'nav'
 'main'
 'footer';
  -ms-grid-rows: auto auto auto 100px;
      grid-template-rows: auto auto auto 100px;
}

body.timeline main article.box {
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  margin: 1rem 0;
  border-radius: 1%;
}

body.timeline main article.box h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

body.timeline main article.box p {
  margin: 1rem;
  margin-top: 0;
}

body.timeline main article.box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.timeline main article.box table {
  margin: 1rem;
  border-collapse: collapse;
}

body.timeline main article.box table th, body.timeline main article.box table td {
  -webkit-transition: ease all 1.2s;
  transition: ease all 1.2s;
  min-width: 20px;
  border: 2px solid black;
  padding: 5px;
  text-align: left;
}

body.timeline main article.box table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.4);
}

body.timeline main article.box table tr:nth-child(odd) {
  background-color: rgba(59, 59, 59, 0.4);
}

body.timeline main article.box table thead tr:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.4);
}

body.timeline main article.box figure {
  width: calc(100% - 2rem);
  margin: 1rem;
  margin-top: 0;
}

body.timeline main article.box figure img {
  width: 100%;
}

body.timeline main article.box iframe {
  width: calc(100% - 2rem);
  height: 300px;
  margin: 1rem;
}

body.timeline main article.box video {
  margin: 1rem;
  width: calc(100% - 2rem);
  height: auto;
}

@media screen and (min-width: 600px) {
  body.timeline nav.local {
    z-index: 2;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
    position: fixed;
    top: 175px;
    left: 50px;
    background-color: rgba(7, 7, 7, 0.37);
    border-radius: 5%;
    padding: 0.5rem 1rem;
    -webkit-transform: scale(0.4) translateX(-200px);
            transform: scale(0.4) translateX(-200px);
  }
  body.timeline nav.local ol li {
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
  }
  body.timeline nav.local ol li a {
    color: white;
  }
  body.timeline nav.local ol li:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  body.timeline nav.local:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body.timeline main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.timeline main article.box {
    width: 75vw;
  }
  body.timeline main article.box section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body.timeline main article.box h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
  body.timeline main article.box p {
    text-align: left;
    margin: 1rem;
    margin-top: 0;
  }
  body.timeline main article.box .including.figure p {
    width: 50%;
  }
  body.timeline main article.box figure {
    width: 50%;
    height: 100%;
    margin: 1rem;
    margin-top: 0;
  }
  body.timeline main article.box figure img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  body.timeline main article.box iframe {
    width: calc(100% - 2rem);
    height: 300px;
    margin: 1rem;
  }
  body.timeline main article.box table th, body.timeline main article.box table td {
    min-width: 75px;
  }
  body.timeline main article.box video {
    margin: 1rem;
    width: calc(100% - 2rem);
    height: auto;
  }
  body.timeline main > hr {
    width: calc(75vw - 2px);
  }
}

@media screen and (min-width: 1400px) {
  body.timeline nav.local {
    background-color: rgba(7, 7, 7, 0);
    -webkit-transform: none;
            transform: none;
  }
  body.timeline main article.box {
    width: 50vw;
  }
  body.timeline main article.box iframe {
    height: 400px;
  }
  body.timeline main article.box table th, body.timeline main article.box table td {
    min-width: 100px;
  }
  body.timeline main > hr {
    width: calc(50vw - 2px);
  }
}

/*==================================
Contribute page
==================================*/
body.formPage .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header'
 'nav nav nav'
 'main main main'
 'footer footer footer';
  -ms-grid-rows: auto auto auto 100px;
      grid-template-rows: auto auto auto 100px;
}

body.formPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.formPage main section {
  margin-top: 25px;
  width: 75%;
}

body.formPage main section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

body.formPage main form textarea {
  resize: none;
  overflow-y: scroll;
}

body.formPage main form input {
  border-radius: 5%;
}

body.formPage main form #set1 {
  text-align: left;
}

body.formPage main form #set2 input[type="text"] {
  text-align: center;
}

body.formPage main form :invalid {
  border: 2px solid red;
  border-radius: 5%;
}

body.formPage main form :optional {
  border: 2px solid lightblue;
}

body.formPage main form :invalid::after {
  content: "Not all required field are filled";
}

body.formPage main form select :checked {
  background-color: #a7a7a7;
}

@media screen and (min-width: 600px) {
  body.formPage main section {
    width: 50%;
  }
}

/*==================================
Scroll bar
==================================*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */