$colorNavFoot: rgba(34, 34, 34, 0.39);
$colorSideNav: rgba(145, 145, 145, 0.39);
$backgroundcolor: #44577a;
$textColor: white;

$phoneWitdh: 600px;


body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: $backgroundcolor;
	color: $textColor;
}

/*==================================
Default nav + mobile
==================================*/
nav:not(.local){
	grid-area: nav;
}

nav{
	display: flex;
	background-color: $colorNavFoot;
	justify-content: center;
	ul{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		align-items: center;
		flex-direction: column;
		li{
			padding: 1rem;
			margin: 0 2rem;
			a{
				color: $textColor;
				text-decoration: none;
				font-size: 2rem;
				
			}
			a:hover{
				color: rgb(212, 212, 212);
			}
		}
	}
}

/*
section{
	grid-area: localNav;
	background-color: $colorSideNav;
	nav.local{
		background-color: rgba($color: #000000, $alpha: 0.0);
		position: sticky;
		top: 0;
		ul{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			li{
				min-width: 125px;
				text-align: center;
				margin: 0;
				a{
					text-align: center;
					font-size: 1.5rem;
				}
			}

			li:hover{
				background-color: rgba(145, 145, 145, 0.39);
			}
		}
	}
}*/

section.local{
	grid-area: localNav;
	background-color: $colorSideNav;
	nav.local{
		background-color: rgba($color: #000000, $alpha: 0.0);
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		a{
			text-align: center;
			min-width: 125px;
			padding: 1rem;
			display: block;
			font-size: 1.5rem;
			text-decoration: none;
			color: $textColor;
		}

		a:hover{
			background-color: rgba(145, 145, 145, 0.39);
		}
	}
}

/*==================================
nav screen size
==================================*/
@media screen and (min-width: $phoneWitdh){
	nav:not(.local) ul{
		flex-direction: row;
	}

	nav.local{
		ul{
			flex-direction: column;
			justify-content: start;
			li{
				
				padding: 1rem;
				width: 100%;
			}
		}
	}
	section.local nav.local{
		flex-direction: column;
		justify-content: start;
	}
}



/*==================================
Footer
==================================*/
footer{
	grid-area: footer;
	width: 100%;
	background-color: $colorNavFoot;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p{
		color: $textColor;
		margin: 0;
	}
	a{
		color: $textColor;
	}
}



main{
	grid-area: main;
	text-align: center;
}

.homePage{
	.grid-container{
		display: grid;
		grid-template-areas: 
			'nav nav nav'
			'main main main'
			'footer footer footer';
		grid-template-rows: auto auto 100px;
	}
	main{
		display: flex;
		justify-content: center;
		section{
			margin-top: 25px;
			width: 75%;
			h1{
				font-size: 3rem;
				margin-bottom: 1rem;
			}
			p{
				
			}
		}
		
	}
}

@media screen and (min-width: $phoneWitdh){
	.homePage{
		main{
			section{
				width: 50%;
			}
		}
	}
}


.gamePage{
	.grid-container{
		display: grid;
		grid-template-areas: 
		'nav'
		'localNav'
		'main'
		'footer';
		grid-template-rows: auto auto auto 100px;
	}

	main{
		display: flex;
		flex-direction: column;
		align-items: center;
		hr{
			width: 90%;
		}
		article{
			padding: 2rem;
			img{
				width: 50%;
				border-radius: 5%;
			}
			h2{
				font-size: 2rem;
			}
			p{
				text-align: left;
			}
		}
	}
}

@media screen and (min-width: $phoneWitdh){
	.gamePage{
		.grid-container{
			grid-template-areas: 
		'nav nav nav'
		'localNav main main'
		'footer footer footer';
		grid-template-columns: 250px auto auto;
		grid-template-rows: auto auto 100px;
		}
		main{
			hr{
				width: 75%;
			}
			article{
				width: calc(90% - 4rem);
				margin: 1rem;
				img{
					width: 70%;
				}
			}
		}
	}
}


#mario{
	background: linear-gradient(90deg, rgba(250, 28, 28, 0.596), rgba(48, 241, 57, 0.4));
}
#fortnite{
	background: linear-gradient(90deg, rgba(2, 51, 187, 0.4), rgba(10, 175, 197, 0.4));
}
#pong{
	background: linear-gradient(90deg, rgba(31, 31, 31, 0.4), rgba(151, 151, 151, 0.4));
}
#zelda{
	background: linear-gradient(60deg, rgba(10, 158, 5, 0.4), rgba(5, 142, 177, 0.562));
}
#beatSaber{
	background: linear-gradient(90deg, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
}
#pokemon{
	background: linear-gradient(90deg, rgba(255,255,255,0.4), rgba(255,255,255,0.4));
}
