$colorNavFoot: rgba(34, 34, 34, 0.39);
$colorSideNav: rgba(145, 145, 145, 0.39);
$backgroundcolor: #44577a;
$textColor: white;
$antiTextColor: black;

$phoneWitdh: 600px;
$mediumWidth: 1400px;
div.linkBox{
    transition: transform .2s;
}

div.linkBox:hover{
    transform: scale(1.2);
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: $backgroundcolor;
	color: $textColor;
}

/*==================================
Default nav + mobile
==================================*/
nav:not(.local){
	grid-area: nav;
}

nav{
	display: flex;
	background-color: $colorNavFoot;
	justify-content: center;
	ul{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		align-items: center;
		flex-direction: column;
		li{
			padding: 1rem;
            margin: 0 2rem;
            transition: transform .2s;
			a{
				color: $textColor;
				text-decoration: none;
				font-size: 2rem;	
            }
			a:hover{
                color: rgb(212, 212, 212);
			}
        }
        li:hover{
            transform: scale(1.2);
        }
	}
}

/*
section{
	grid-area: localNav;
	background-color: $colorSideNav;
	nav.local{
		background-color: rgba($color: #000000, $alpha: 0.0);
		position: sticky;
		top: 0;
		ul{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			li{
				min-width: 125px;
				text-align: center;
				margin: 0;
				a{
					text-align: center;
					font-size: 1.5rem;
				}
			}

			li:hover{
				background-color: rgba(145, 145, 145, 0.39);
			}
		}
	}
}*/

section.local{
	grid-area: localNav;
	background-color: $colorSideNav;
	nav.local{
		background-color: rgba($color: #000000, $alpha: 0.0);
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		a{
			text-align: center;
			min-width: 125px;
			padding: 1rem;
			display: block;
			font-size: 1.5rem;
			text-decoration: none;
            color: $textColor;
            transition: transform .2s;
		}

		a:hover{
            //background-color: rgba(145, 145, 145, 0.39);
            transform: scale(1.2);
		}
	}
}

/*==================================
nav screen size
==================================*/
@media screen and (min-width: $phoneWitdh){
	nav:not(.local) ul{
		flex-direction: row;
	}

	nav.local{
		ul{
			flex-direction: column;
			justify-content: start;
			li{
				
				padding: 1rem;
				width: 100%;
			}
		}
	}
	section.local nav.local{
		flex-direction: column;
		justify-content: start;
	}
}



/*==================================
Footer
==================================*/
footer{
	grid-area: footer;
	width: calc(100% - 2rem);
	background-color: $colorNavFoot;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	p{
		color: $textColor;
		margin: 0;
	}
	a{
		color: $textColor;
	}
}



main{
	grid-area: main;
	text-align: center;
}

/*==================================
Home page styling
==================================*/

.homePage{
	.grid-container{
		display: grid;
		grid-template-areas: 
			'nav nav nav'
			'main main main'
			'footer footer footer';
		grid-template-rows: auto auto 100px;
	}
	main{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		section{
			margin-top: 25px;
			width: 75%;
			h1{
				font-size: 3rem;
				margin-bottom: 1rem;
			}
			h2{
				font-size: 2rem;
			}
		}
		
	}
}

@media screen and (min-width: $phoneWitdh){
	.homePage{
		main{
			section{
				width: 50%;
			}
		}
	}
}

/*==================================
Game and console page
==================================*/
.gamePage{
	.grid-container{
		display: grid;
		grid-template-areas: 
		'nav'
		'localNav'
		'main'
		'footer';
		grid-template-rows: auto auto auto 100px;
	}

	main{
		display: flex;
		flex-direction: column;
		align-items: center;
		hr{
			width: 90%;
		}
		article{
			padding: 2rem;
			border-radius: 1%;
			img{
				width: 50%;
				border-radius: 5%;
			}
			h2{
				font-size: 2rem;
			}
			p{
				text-align: left;
			}
		}
	}
}

@media screen and (min-width: $phoneWitdh){
	.gamePage{
		.grid-container{
			grid-template-areas: 
		'nav nav nav'
		'localNav main main'
		'footer footer footer';
		grid-template-columns: 250px auto auto;
		grid-template-rows: auto auto 100px;
		}
		main{
			hr{
				width: 75%;
			}
			article{
				width: calc(90% - 4rem);
				margin: 1rem;
				img{
					width: 70%;
				}
			}
		}
	}
}

/* Game backgrounds */
#mario{
	background: linear-gradient(90deg, rgba(250, 28, 28, 0.596), rgba(48, 241, 57, 0.4));
}
#fortnite{
	background: linear-gradient(90deg, rgba(2, 51, 187, 0.4), rgba(10, 175, 197, 0.4));
}
#pong{
	background: linear-gradient(90deg, rgba(31, 31, 31, 0.4), rgba(151, 151, 151, 0.4));
}
#zelda{
	background: linear-gradient(60deg, rgba(10, 158, 5, 0.4), rgba(5, 142, 177, 0.562));
}
#beatSaber{
	background: linear-gradient(90deg, rgba(17, 137, 236, 0.4), rgba(241, 17, 17, 0.562));
}
#pokemon{
	background: linear-gradient(90deg, rgba(36, 196, 63, 0.644), rgba(221, 17, 221, 0.678));
}

/* Console backgrounds */
#nes{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.479), rgba(241, 21, 21, 0.623));
}

#xbox360{
	background: linear-gradient(90deg, rgba(3, 243, 3, 0.685), rgba(255, 255, 255, 0.4));
}

#xbox{
	background: linear-gradient(90deg, rgba(100, 100, 100, 0.4), rgba(11, 131, 37, 0.4));
}

#ps3{
	background: linear-gradient(90deg, rgba(49, 49, 49, 0.4), rgba(13, 122, 224, 0.4));
}

/*==================================
Timeline page
==================================*/
body.timeline{
	.grid-container{
		display: grid;
		grid-template-areas: 
		'nav'
		'main'
		'footer';
		grid-template-rows: auto auto 100px;
	}
	main{
		article.box{
			transition: ease all .5s;
			margin-top: 1rem;
			border-radius: 1%;
			h2{
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
			p{
				margin: 1rem;
				margin-top: 0;
			}
			img{
				width: 100%;
			}
			table{
				margin: 1rem;
				border-collapse: collapse;
				th, td{
					transition: ease all 1.2s;
					min-width: 20px;
					border: 2px solid black;
					padding: 5px;
					text-align: left;
				}
				tr:nth-child(even){
					background-color: rgba(0, 0, 0, 0.4);
				}
				tr:nth-child(odd){
					background-color: rgba(59, 59, 59, 0.4);
				}
				thead tr:nth-child(1){
					background-color: rgba(0, 0, 0, 0.4);
				}
			}
		}
	}
}

@media screen and (min-width: $phoneWitdh){
	body.timeline{
		main{
			display: flex;
			flex-direction: column;
			align-items: center;
			article.box{
				width: 75vw;
				section{
					display: flex;
					flex-direction: row;
				}
				h2{
					font-size: 2rem;
					margin-bottom: 0.5rem;
					margin-left: 1rem;
				}
				p{
					text-align: left;
					margin: 1rem;
					margin-top: 0;
				}
				img{
					width: 50%;
					margin: 1rem;
					margin-top: 0;
				}
				iframe{
					width: calc(100% - 2rem);
					height: 300px;
					margin: 1rem;
				}
				table{
					th, td{
						min-width: 75px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $mediumWidth){
	body.timeline{
		main{
			article.box{
				width: 50vw;
				iframe{
					height: 400px;
				}
				table{
					th, td{
						min-width: 100px;
					}
				}
			}
		}
	}
}
/*==================================
Contribute page
==================================*/
body.formPage{
	.grid-container{
		display: grid;
		grid-template-areas: 
			'nav nav nav'
			'main main main'
			'footer footer footer';
		grid-template-rows: auto auto 100px;
	}
	main{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		section{
			margin-top: 25px;
			width: 75%;
			h1{
				font-size: 2rem;
				margin-bottom: 1rem;
			}
			h2{
				font-size: 2rem;
			}
		}
		form{
			textarea{
				resize: none;
				overflow-y: scroll;
			}
			input{
				border-radius: 5%;
			}
			#set1{
				text-align: left;
			}
			#set2{

			}
			:invalid{
				border: 2px solid red;
				border-radius: 5%;
			}
			:optional{
				border: 2px solid lightblue;
			}
		}
	}
}

@media screen and (min-width: $phoneWitdh){
	body.formPage{
		main{
			section{
				width: 50%;
			}
		}
	}
}


/*==================================
Scroll bar
==================================*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f100; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}